.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  font-size: 14px;
}

.filter-items button {
  padding: 4px;
  margin: 4px;
  width: 10em;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  background-color: #ededef;
  border: 1px solid #eee;
  box-shadow: 1px 2px 1px #ccc;
}
.filter-items img {
  height: 1.8em;
  width: 1.8em;
  opacity: 0.9;
}
