
.item {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
  grid-template-columns: 3em auto 3fr;
  grid-template-rows: auto;
  text-align: left;
  margin: 1vmin;
  box-shadow: 0px 2px 3px lightgray;
  padding: 2px;
  grid-gap: 7px 10px;
  align-items: center;
}

.item-movie {
  background-color: #f4feea;
}

.item-book {
  background-color: #fffff8;
}

.item-icon {
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
  grid-column: 1;
  grid-row: 1/span 2;
}

.item-remove {
  font-size: 14px;
  color: darkred;
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  text-align: center;
}
.item-remove p {
  margin: 8px;
  margin-top: -1px;
}

.item .label {
  grid-column: 2/3;
}
.item .data {
  grid-column: 3/-1;
}
